/* patterns.scss
 * Repeatable patterns
 * ------------------------------------------------------------------ */

.archive-title,
.widget-title {
	text-transform: uppercase;
	font-weight: 400;
	@include rem('font-size', 12px);
	line-height: ($evbase/12);
}

/*---------------------------------------------------------
	Responsive images
------------------------------------------------------------ */
img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	@include border-radius();
	@include box-shadow();
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*---------------------------------------------------------
	Media
------------------------------------------------------------ */
embed,
object,
video {
	max-width: 100%;
}

/*---------------------------------------------------------
	Extras
------------------------------------------------------------ */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}