/* patterns.scss
 * Repeatable patterns
 * ------------------------------------------------------------------ */

/*---------------------------------------------------------
	Small headers
------------------------------------------------------------ */
.archive-title,
.widget-title {
	@include rem('font-size', 11px);
	line-height: ($evbase/11);
	font-weight: bold;
	text-transform: uppercase;
	color: lighten($font-color, 12);
}

/*---------------------------------------------------------
	Shared Post Format styling
------------------------------------------------------------ */
article.format-quote,
article.format-link {
	footer.entry-meta {
		@include rem('font-size', 11px);
		line-height: ($evbase/11);
	}
}

/*---------------------------------------------------------
	Responsive images
------------------------------------------------------------ */
img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
	@include border-radius();
	@include box-shadow();
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*---------------------------------------------------------
	Media
------------------------------------------------------------ */
embed,
object,
video {
	max-width: 100%;
}

/*---------------------------------------------------------
	Extras
------------------------------------------------------------ */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}