/* patterns.scss
 * Repeatable patterns
 * ------------------------------------------------------------------ */

.archive-title,
.widget-title {
	text-transform: uppercase;
	font-weight: 400;
	@include rem('font-size', 12px);
	line-height: ($evbase/12);
}