/* _view_homepage.css.scss
 * Home page template styling
 * ------------------------------------------------------------------ */
div.home-top,
div.home-middle {
	@media screen and (min-width: 600px) {
		@include clear();
	}
}
div.home-top {
	@include rem('margin-bottom', $vbase);
}
section.home-content {
	@media screen and (min-width: 600px) {
		@include clear();
		h1.entry-title {
			@include rem('margin', 0 0 $vbase 0);
		}
		&.thumbnail {
			float: left;
			width: percentage(460/960);
		}
	}
}
.entry-page-image {
	@media screen and (min-width: 600px) {
		float: right;
		width: percentage(460/960);
		@include rem('margin-bottom', $vbase);
	}
}
.page-template-homepage-php {
	@media screen and (min-width: 600px) {
		#content {
			@include clear();
		}
	}
	#secondary {
		clear: both;
		float: none;
		width: auto;
		@include rem('padding-top', $vbase);
		border-top: $divider;
		aside {
			li {
				@include rem('margin', 8px 0 0 0);
				@include rem('font-size', 13px);
				line-height: ($evbase/13);
				line-height: $lheight;
				list-style-type: square;
				list-style-position: inside;
				a {
					color: lighten($font-color, 20);
					&:hover {
						color: $link-color;
					}
				}
			}
			&.widget_text img {
				float: left;
				@include rem('margin', 8px $vbase 8px 0);
			}
			@media screen and (min-width: 600px) {
				float: left;
				width: percentage(498/960);
				@include rem('margin-bottom', $vbase);
				&:nth-child(even) {
					float: right;
					width: percentage(375/960);
					@include rem('margin', 0 0 $vbase 0);
				}
			}
		}
	}
}