/* index.css.scss
 * Basic post styling
 * ------------------------------------------------------------------ */
/*---------------------------------------------------------
	Basic post styling
------------------------------------------------------------ */
header.entry-header {
	@include rem('margin-bottom', $vbase);
	.entry-title {
		@include rem('font-size', 20px);
		line-height: ($evbase/20);
		font-weight: normal;
		a {
			text-decoration: none;
		}
		@media screen and (min-width: 600px) {
			@include rem('font-size', 22px);
			line-height: ($evbase/22);
		}
	}
	.entry-format {
		@include rem('margin-top', $vbase);
		font-weight: normal;
	}
	.entry-meta {
		@include rem('font-size', 11px);
		line-height: ($evbase/11);
		color: lighten($font-color, 20);
	}
}
.entry-meta {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
}
div.entry-content {
	h2,
	h3,
	h4 {
		@include rem('margin', $vbase 0);
		line-height: $lheight;
	}
	h2 {
		@include rem('font-size', 15px);
		line-height: ($evbase/15);
	}
	h4 {
		@include rem('font-size', 13px);
		line-height: ($evbase/13);
	}
	p {
		@include rem('margin', 0 0 $vbase 0);
		line-height: $lheight;
	}
	img {
		&.alignleft {
			float: left;
			@include rem('margin', 0 $vbase 0 0);
		}
	}
	ol, ul {
		@include rem('margin', 0 0 $vbase 0);
		line-height: $lheight;
	}
	ul {
		list-style: disc outside;
	}
	ol {
		list-style: decimal outside;
	}
	li {
		@include rem('margin', 0 0 0 $vbase);
	}
	code {
		font-family: Consolas, Monaco, Lucida Console, monospace;
		@include rem('font-size', 12px);
		line-height: ($evbase/12);
	}
	pre {
		@include rem('margin', $vbase 0);
		@include rem('padding', $vbase);
		line-height: $lheight;
		font-family: Consolas, Monaco, Lucida Console, monospace;
		@include rem('font-size', 12px);
		line-height: ($evbase/12);
		overflow: auto;
		code {
			display: block;
		}
	}
	img.alignleft {
		float: left;
		@include rem('margin', 0 $vbase $vbase 0);
	}
	img.alignright {
		float: right;
		@include rem('margin', 0 0 $vbase $vbase);
	}
	iframe {
		@include rem('margin-bottom', $vbase);
	}
}
div#content article {
	@include rem('padding-bottom', $vbase );
	@include rem('margin-bottom', $vbase2 );
	border-bottom: $divider;
}
div.page-links {
	line-height: $lheight;
}
footer.entry-meta {
	@include rem('margin-top', $vbase);
	@include rem('font-size', 13px);
	line-height: ($evbase/13);
	font-style: italic;
	color: lighten($font-color, 20);
}

/*---------------------------------------------------------
	Extras
------------------------------------------------------------ */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/*---------------------------------------------------------
	Media
------------------------------------------------------------ */
img,
embed,
object,
video {
	max-width: 100%;
}