/* index.css.scss
 * Basic post styling
 * ------------------------------------------------------------------ */
/*---------------------------------------------------------
	Basic post styling
------------------------------------------------------------ */
header.entry-header {
	@include rem('margin-bottom', $vbase);
	.entry-title {
		@include rem('font-size', 20px);
		line-height: ($evbase/20);
		font-weight: normal;
		a {
			text-decoration: none;
		}
		@media screen and (min-width: 600px) {
			@include rem('font-size', 22px);
			line-height: ($evbase/22);
		}
	}
	.entry-format {
		@include rem('margin-top', $vbase);
		font-weight: normal;
	}
	.entry-meta {
		@include rem('font-size', 11px);
		line-height: ($evbase/11);
		color: lighten($font-color, 20);
	}
}
.entry-meta {
	a {
		color: lighten($font-color, 20);
		&:hover {
			color: $link-color;
		}
	}
}
div.entry-content {
	p {
		@include rem('margin', $vbase 0);
		line-height: $lheight;
	}
}
div#content article {
	@include rem('padding-bottom', $vbase );
	@include rem('margin-bottom', $vbase2 );
	border-bottom: $divider;
}
div.page-links {
	line-height: $lheight;
}
footer.entry-meta {
	@include rem('margin-top', $vbase);
	@include rem('font-size', 13px);
	line-height: ($evbase/13);
	font-style: italic;
	color: lighten($font-color, 20);
}

/*---------------------------------------------------------
	Elements
------------------------------------------------------------ */
abbr,
acronym,
dfn {
	border-bottom: $divider;
	cursor: help;
}
code,
kbd  {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	@include rem('padding', 0 4px);
}
mark {
	color: #fff;
	@include rem('padding', 0 4px);
	font-style: italic;
}
pre,
tt,
var {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	@include rem('margin', $vbase 0);
	overflow: auto;
	code {
		display: block;
		@include rem('padding', $fsize);
	}
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}

/*---------------------------------------------------------
	Media
------------------------------------------------------------ */
img,
embed,
object,
video {
	max-width: 100%;
}